* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*nav bar */
#nav-bar {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;
    color: whitesmoke;
}
.nav-bar {
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .nav-stack {
    height: 40px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    width: 40px;
    transition: 0.3s ease transform;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .nav-stack .bar {
    height: 2px;
    width: 20px;
    background-color: whitesmoke;
    position: relative;
}
.nav-bar .nav-stack .bar::before,
.nav-bar .nav-stack .bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    transition: .3s ease all;
}
.nav-bar .nav-stack .bar::before {
    top: 8px;
}
.nav-bar .nav-stack .bar::after {
    bottom: 8px;
}
.nav-bar ul {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    text-align: center;
    padding: 3rem 0;
    background-color: rgba(134, 134, 134, 0.235);
    /*transform: translateY(-100%);*/
}
.nav-bar ul li {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    padding: 1rem 0;
    cursor: pointer;
}
.hero {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./kaws.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .hero-info {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
.hero .hero-info .hero-info-heading {
    font-size: 3rem;
    font-weight: 800;
    color: whitesmoke;
    text-transform: capitalize;
}
.hero .hero-info .hero-info-subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: whitesmoke;
}
.hero .hero-info .hero-info-button {
    margin-top: 30px;
    padding: 1.5rem 4.5rem;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .4rem;
    background-color: rgb(85, 85, 85, 0.5);
}

.about {
    width: 100%;
    flex-direction: column;
    padding: 10rem 5rem;
}
.about .about-info {
    text-align: center;
}
.about .about-info .about-info-heading {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.about .about-info .about-info-desc {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-top: 10px;
}
.about .about-info .about-info-button {
    text-decoration: none;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: .7rem 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.about .about-img .about-img-wrapper {
    margin-top: 30px;
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}
.about .about-img .about-img-wrapper img {
    height: 100%;
    width: 100%;
}
.about .about-img .about-img-wrapper::after {
    position: absolute;
    content:'';
    right: -8%;
    transform: translateY(-50%);
    top: 50%;
    width: 70%;
    height: 120%;
    background-color: rgb(33, 33, 34, 0.125);
    z-index: -1;
}

/*technique section*/
.techniques {
    min-height: 60vh;
    padding: 10rem 5rem;
    flex-direction: column;
}
.techniques .technique-header {
    width: 100%;
    text-align: center;
}

.techniques .technique-header .technique-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.techniques .technique-header .technique-header-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
}
.techniques .technique-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.techniques .technique-info .technique {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;
}
.techniques .technique-info .technique .technique-card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    display: block;
    transition: 0.5s ease transform;
}
.techniques .technique-info .technique .technique-card .card-front,
.techniques .technique-info .technique .technique-card .card-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 10px;
    justify-content: center;
}
.techniques .technique-info .technique .technique-card .card-back {
    transform: rotateY(180deg);
}
.techniques .technique-info .technique .technique-card .card-front i{
    font-size: 4rem;
    margin-bottom: 10px;
}
.techniques .technique-info .technique:nth-child(2) .technique-card .card-front {
    background-image: url(./img-info.png);
    position: relative;
    background-size: cover;
    color: whitesmoke;
    z-index: 1;
}
.techniques .technique-info .technique:nth-child(2) .technique-card .card-front::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.technique-front-heading {
    font-size: 2rem;
    font-weight: bold;
}

.techniques .technique-info .technique:hover .technique-card {
    transform: rotateY(180deg);
}
.card-back .technique-back-heading {
    font-size: 2rem;
    font-weight: bold;
}
.card-back .technique-back-desc {
    font-size: 1.5rem;
    text-align: center;
}
.hire {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:  rgb(85, 85, 85, 0.5);
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}
.hire-heading {
    font-size: 1.5rem;
    text-align: center;
}
.hire-btn {
    text-decoration: none;
    padding: 1.5rem 4rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    background-color: rgba(0,0,0, 0.274);
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease;
}
.hire-btn:hover {
    color:white;
}

.contacts {
    min-height: 20vh;
    background-color: black;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-heading {
    text-transform: capitalize;
    margin: 1rem 4rem;
    font-size: 1.2em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.contacts .contact-method {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.method {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.method i {
    font-size: 1.5rem;
    margin: 1rem 2rem;
}
.method p {
    font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
    .techniques .technique-info {
        flex-direction: row;
    }
    .contact-heading {
        font-size: 2rem;
    }
    .contacts .contact-method {
        justify-content: space-around;
        width: 100%;
        flex-direction: row;
    }
    .method {
        justify-content: center;
    }
    .method i {
        font-size: 2rem;
        margin: 1rem 2rem;
    }
    .method p {
        font-size: 1.8rem;
    }
}